body {
    text-align: center;
    background-color: #fef2e6;
}

img {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

dl {
    display: inline-block;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    width: 300px;
}
dl dt, dl dd {
    margin: 0;
    margin-bottom: 2px;
    display: inline;
}
dl dt {
    padding-right: 8px;
}
dl dd:after {
    content: '';
    display: block;
}
@media (max-width: 600px){
    .data_table {
        text-align: center;
    }
}

dl, input[type="text"]
{
    font-family: 'Gloria Hallelujah', cursive;
    /* font-family: 'Patrick Hand', cursive; */
    color: brown;
    font-size: medium;
    font-weight: bold;
}

input[type="text"] {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid brown;
}

.hidden {
    display: none;
}